.box
{
    padding: 20px;
}
.empty
{
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.shop
{
    margin-bottom: 100px;
    font-weight: 600;
    background-color: #2EB5E0;
    border: none;
    padding: 10px;
    font-size: 15px;
    color: white;
    border-radius: 50px;
    transition: all ease 350ms;
}
.shop:hover
{
	color:#2EB5E0;
    background:white;
    border: 2px solid #2EB5E0;
}
.order
{
    font-size: 18px;
    font-weight: 600;
}
.outer
{
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 0.3em black;
    cursor: pointer;
    padding: 20px;
}
.cbody .card img
{
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    transition: all ease 350ms;
}
.cbody .card img:hover
{
    transform: scale(1.1);
    border-radius: 10px;
}
.cbody .card
{
    border: none;
}
.internal
{
    margin-bottom: 100px;
}
.text
{
    font-size: 20px;
    font-weight: 600;
}
.title
{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    transition: all ease 350ms;
    cursor: pointer;
}
.title:hover
{
    transform: scale(1.1);
    color: #2EB5E0;

}